<div class="pannel">
    <div *ngFor="let each of data">
        <mat-card class="example-card">
            <mat-card-title>{{each.title}}</mat-card-title>
            <mat-card-subtitle>⌛:{{each.time_logged}}</mat-card-subtitle> 
            <mat-card-content>
              <p>{{ each.content }}</p>
            </mat-card-content>
            <mat-card-actions align="end">
                <button mat-button (click)="deleteNote(each)">🗑️</button>
            </mat-card-actions>
          </mat-card>
    </div>    

</div>


